In [1]:
import pandas

In [2]:
df = pandas.read_parquet("/home/lmorales/work/pipelines/surname_data_pipeline/_products/clean/surnames_2015.parquet")

In [3]:
df.head()

  family_name   surname gender province_id department_id circuit_id
0      ACOSTA    ACOSTA      F          02         02091        139
1    AGUERREA  AGUERREA      M          02         02091        139
2      ANELLO    ANELLO      F          02         02091        139
3     ARAKAKI   ARAKAKI      M          02         02091        139
4      ARRESE    ARRESE      M          02         02091        139

In [5]:
len(df['surname'].unique())

373709

In [6]:
df_2021 = pandas.read_parquet("/home/lmorales/work/pipelines/surname_data_pipeline/_products/clean/surnames_2021.parquet")

In [7]:
df_2021.head()

  family_name  surname gender province_id department_id circuit_id
0       SERIO    SERIO      F          02         02049       0080
1     MALVICH  MALVICH      F          02         02049       0082
2     CREIMAN  CREIMAN      F          02         02049       0083
3       AVILA    AVILA      F          02         02049       0083
4     CATALDO  CATALDO      F          02         02049       0081

In [8]:
len(df_2021['surname'].unique())

335393