In [56]:
import pandas
from surnames_package import isonymic

In [70]:
DF_COLUMNS = ['division', 'n', 'ins', 'fst', 'fishers_alpha', 'A', 'B' ]

In [71]:
df = pandas.read_parquet("/home/lmorales/work/pipelines/surname_data_pipeline/_products/clean/surnames_2015.parquet")

# Nacional

In [58]:
isonymic_result = isonymic.get_isonymic_data(df['surname'])

data = [["Argentina"] + list(isonymic_result.values())]
columns = ["division"] + list(isonymic_result.keys())

output_df = pandas.DataFrame(data=data, columns=columns)

In [72]:
output_df[DF_COLUMNS]

    division         n       ins       fst  fishers_alpha         A         B
0  Argentina  30530194  0.001844  0.000461     542.441574  0.003571  0.078897

# Regionales

In [60]:
df.head()

  family_name   surname gender province_id department_id circuit_id
0      ACOSTA    ACOSTA      F          02         02091        139
1    AGUERREA  AGUERREA      M          02         02091        139
2      ANELLO    ANELLO      F          02         02091        139
3     ARAKAKI   ARAKAKI      M          02         02091        139
4      ARRESE    ARRESE      M          02         02091        139

In [61]:
from surnames_package import utils

In [62]:
df = utils.append_province_description(df)

In [63]:
df.head()

,family_name,surname,gender,province_id,department_id,circuit_id,provincia_nombre,region_nombre,region_id
0,ACOSTA,ACOSTA,F,02,02091,139,Ciudad Autónoma de Buenos Aires,Centro,03
1,AGUERREA,AGUERREA,M,02,02091,139,Ciudad Autónoma de Buenos Aires,Centro,03
2,ANELLO,ANELLO,F,02,02091,139,Ciudad Autónoma de Buenos Aires,Centro,03
3,ARAKAKI,ARAKAKI,M,02,02091,139,Ciudad Autónoma de Buenos Aires,Centro,03
4,ARRESE,ARRESE,M,02,02091,139,Ciudad Autónoma de Buenos Aires,Centro,03

In [64]:
regional_results = []

for (region_name, region_df) in df.groupby('region_nombre'):
    
    print("processing: ", region_name, "...")
    
    region_isonymy = isonymic.get_isonymic_data(region_df['surname'])
    region_isonymy['division'] = region_name
    
    regional_results.append(region_isonymy)

processing:  Centro ...
processing:  Cuyo ...
processing:  NEA ...
processing:  NOA ...
processing:  Patagonia ...

In [65]:
regional_results[0]

{'n': 20364909,
 'ins': 0.0016242920139547506,
 'A': 0.0048211362005103975,
 'B': 0.07566157059675543,
 'fishers_alpha': 615.6528453065816,
 'fst': 0.00040607300348868765,
 'division': 'Centro'}

In [67]:
regional_df = pandas.DataFrame(regional_results)

In [74]:
regional_df[DF_COLUMNS]

    division         n       ins       fst  fishers_alpha         A         B
0     Centro  20364909  0.001624  0.000406     615.652845  0.004821  0.075662
1       Cuyo   2146718  0.002672  0.000668     374.259260  0.008093  0.081320
2        NEA   2761629  0.003847  0.000962     259.968052  0.007634  0.113487
3        NOA   3620969  0.003092  0.000773     323.453201  0.004996  0.086641
4  Patagonia   1635969  0.001711  0.000428     584.290455  0.016400  0.066280

# Provincial

In [75]:
provincial_results = []

for (province_id, province_df) in df.groupby('province_id'):
    
    print("processing: ", province_id, "...")
    
    province_isonymy = isonymic.get_isonymic_data(province_df['surname'])
    province_isonymy['division'] = province_id
    
    provincial_results.append(province_isonymy)

processing:  02 ...
processing:  06 ...
processing:  10 ...
processing:  14 ...
processing:  18 ...
processing:  22 ...
processing:  26 ...
processing:  30 ...
processing:  34 ...
processing:  38 ...
processing:  42 ...
processing:  46 ...
processing:  50 ...
processing:  54 ...
processing:  58 ...
processing:  62 ...
processing:  66 ...
processing:  70 ...
processing:  74 ...
processing:  78 ...
processing:  82 ...
processing:  86 ...
processing:  90 ...
processing:  94 ...

In [78]:
provincial_df = pandas.DataFrame(provincial_results)
provincial_df = provincial_df[DF_COLUMNS]
print(provincial_df.head())
print("...")
print(provincial_df.tail())

  division         n       ins       fst  fishers_alpha         A         B
0       02   2541078  0.001130  0.000283     884.727417  0.020981  0.069208
1       06  11384392  0.001822  0.000456     548.738148  0.007330  0.080480
2       10    278151  0.004128  0.001032     242.227958  0.013140  0.100726
3       14   2645525  0.001914  0.000479     522.449356  0.008753  0.071090
4       18    765271  0.005688  0.001422     175.805944  0.011089  0.141447
...
   division        n       ins       fst  fishers_alpha         A         B
19       78   220278  0.002232  0.000558     447.968800  0.042637  0.073326
20       82  2552338  0.001456  0.000364     686.773407  0.007425  0.068324
21       86   648777  0.005130  0.001283     194.926977  0.008535  0.111944
22       90  1079057  0.004000  0.001000     249.969792  0.006622  0.109646
23       94   116042  0.002053  0.000513     487.050272  0.069630  0.076378

# Departamental

In [79]:
departamental_results = []

for i, (departament_id, department_df) in enumerate(df.groupby('department_id')):
    
    if (i % 100 == 0):
        print("processing: ", departament_id, "...")
    
    department_isonymy = isonymic.get_isonymic_data(department_df['surname'])
    department_isonymy['division'] = departament_id
    
    departamental_results.append(department_isonymy)

processing:  02007 ...
processing:  06560 ...
processing:  18063 ...
processing:  42014 ...
processing:  62077 ...
processing:  86147 ...

In [81]:
departamental_df = pandas.DataFrame(departamental_results)
departamental_df = departamental_df[DF_COLUMNS]
print(departamental_df.sort_values(by='n', ascending=False).head())
print("...")
print(departamental_df.sort_values(by='n', ascending=False).tail())

    division        n       ins       fst  fishers_alpha         A         B
167    14014  1045948  0.002170  0.000542     460.844038  0.015017  0.076668
472    82084   968743  0.001630  0.000407     613.627545  0.014645  0.075747
79     06427   907826  0.002292  0.000573     436.283561  0.023572  0.086616
67     06357   526361  0.001513  0.000378     660.787894  0.037309  0.075727
81     06441   496976  0.001348  0.000337     742.004914  0.031903  0.071307
...
    division    n       ins       fst  fishers_alpha         A         B
304    42042  748  0.010670  0.002668      93.719263  0.189840  0.187166
250    26063  623  0.009329  0.002332     107.188346  0.181380  0.165329
311    42091  397  0.015995  0.003999      62.518445  0.161209  0.236776
310    42084  188  0.020541  0.005135      48.683196  0.287234  0.281915
526    94028  103  0.012914  0.003228      77.437956  0.844660  0.165049