In [8]:
%load_ext autoreload
%autoreload 2

In [9]:
import pandas

In [10]:
df = pandas.read_parquet(
    "/home/lmorales/work/pipelines/surname_data_pipeline/_products/clean/surnames_2021.parquet")

In [11]:
df.head()

  family_name  surname gender province_id department_id circuit_id
0       SERIO    SERIO      F          02         02049       0080
1     MALVICH  MALVICH      F          02         02049       0082
2     CREIMAN  CREIMAN      F          02         02049       0083
3       AVILA    AVILA      F          02         02049       0083
4     CATALDO  CATALDO      F          02         02049       0081

In [12]:
from surnames_package import utils

In [13]:
df_tmp = utils.append_cell_description(df.head(20), 'department_id')

In [14]:
for keys, region_df_slice in df_tmp.groupby(["region_nombre", "region_id"]):
    print(keys)
    print()

('Centro', '03')

In [15]:
from surnames_package import isonymic

def __collect_data_by_column(df, slice_by_column, surname_column: str = 'surname'):    
    """
    cols = cell_id, ins, fst, A, B
    """
    assert slice_by_column in df.columns.values, f"La columna {slice_by_column} debe estar en el dataframe recibido"
    
    data = []
    for i, (cell_id, cell_data) in enumerate(df.groupby(slice_by_column)):
        if i % 1_000 == 0:
            print(f"__collect_data_by_column -> processed: {i}")
        data.append(
            {
                'cell_id': cell_id,
                'ins': isonymic.get_isonymy(cell_data[surname_column]),
                'A': isonymic.get_a_index(cell_data[surname_column]),
                'B': isonymic.get_b_index(cell_data[surname_column]),
                'n': len(cell_data[surname_column]),
                'fishers_alpha':isonymic.get_fishers_alpha(cell_data[surname_column])
            }
        )
    
    # pandas.DataFrame(data).assign(fst=isonymic.get_fst_vect(pandas.DataFrame(data)['ins']))
    output_df = pandas.DataFrame(data)
    output_df['fst'] = isonymic.get_fst_vect(output_df['ins'])
    
    return output_df

In [16]:
isonymic.get_isonymic_data_by_cells(region_df_slice[['surname', 'region_nombre']], 'region_nombre')

get_isonymic_data_by_cells -> processed: 0

    n   ins    A     B  fishers_alpha     fst cell_id
0  20  0.05  1.0  0.35           20.0  0.0125  Centro

In [17]:
df = utils.append_cell_description(df, 'department_id')

In [18]:
df.head()

,family_name,surname,gender,province_id,department_id,circuit_id,departamento_nombre,provincia_nombre,region_nombre,region_id
0,SERIO,SERIO,F,02,02049,0080,Comuna 7,Ciudad Autónoma de Buenos Aires,Centro,03
1,MALVICH,MALVICH,F,02,02049,0082,Comuna 7,Ciudad Autónoma de Buenos Aires,Centro,03
2,CREIMAN,CREIMAN,F,02,02049,0083,Comuna 7,Ciudad Autónoma de Buenos Aires,Centro,03
3,AVILA,AVILA,F,02,02049,0083,Comuna 7,Ciudad Autónoma de Buenos Aires,Centro,03
4,CATALDO,CATALDO,F,02,02049,0081,Comuna 7,Ciudad Autónoma de Buenos Aires,Centro,03

In [19]:
regional_data = []
for i, region_slice in df.groupby("region_nombre"):
    #print(region_slice.head())
    regional_data.append(
        isonymic.get_isonymic_data_by_cells(region_slice[['surname', 'region_nombre']], 'region_nombre')
    )

get_isonymic_data_by_cells -> processed: 0
get_isonymic_data_by_cells -> processed: 0
get_isonymic_data_by_cells -> processed: 0
get_isonymic_data_by_cells -> processed: 0
get_isonymic_data_by_cells -> processed: 0

In [20]:
df_regional = pandas.concat(regional_data)

In [21]:
df_regional['region_code'] = df_regional['cell_id'].apply(
    lambda region_name: utils.REGION_CODE_BY_REGION_NAME.get(region_name, None))

In [22]:
df_regional

,n,ins,A,B,fishers_alpha,fst,cell_id,region_code
0,22417577,0.001706,0.002996,0.077098,586.235451,0.000426,Centro,03
0,2412848,0.002682,0.007058,0.081290,372.833131,0.000671,Cuyo,04
0,3278322,0.003888,0.006052,0.114092,257.201336,0.000972,NEA,02
0,4291955,0.003107,0.004062,0.086894,321.845213,0.000777,NOA,01
0,1928252,0.001741,0.013674,0.066750,574.282295,0.000435,Patagonia,05

In [23]:
df_regional = df_regional.rename(columns={'cell_id': 'name', 'region_code': 'code'})

In [24]:
df_regional

,n,ins,A,B,fishers_alpha,fst,name,code
0,22417577,0.001706,0.002996,0.077098,586.235451,0.000426,Centro,03
0,2412848,0.002682,0.007058,0.081290,372.833131,0.000671,Cuyo,04
0,3278322,0.003888,0.006052,0.114092,257.201336,0.000972,NEA,02
0,4291955,0.003107,0.004062,0.086894,321.845213,0.000777,NOA,01
0,1928252,0.001741,0.013674,0.066750,574.282295,0.000435,Patagonia,05

In [88]:
df_regional.to_json(orient='records')

'[{"name":"Centro","ins":0.0017057993,"A":0.0029961311,"B":0.0770981181,"n":22417577,"fishers_alpha":586.2354510515,"fst":0.0004264498,"code":"03"},{"name":"Cuyo","ins":0.0026821651,"A":0.0070584637,"B":0.0812902429,"n":2412848,"fishers_alpha":372.8331308023,"fst":0.0006705413,"code":"04"},{"name":"NEA","ins":0.0038880047,"A":0.0060524866,"B":0.1140919043,"n":3278322,"fishers_alpha":257.2013356552,"fst":0.0009720012,"code":"02"},{"name":"NOA","ins":0.0031070837,"A":0.0040620184,"B":0.0868942009,"n":4291955,"fishers_alpha":321.8452125209,"fst":0.0007767709,"code":"01"},{"name":"Patagonia","ins":0.0017413039,"A":0.0136740426,"B":0.0667495742,"n":1928252,"fishers_alpha":574.282294893,"fst":0.000435326,"code":"05"}]'